@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1440px;
  color: #000000;
  background-color: #ffffff;
  padding: 40px 0 0;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* Стили Хедера */

.page-header {
  position: relative;
  width: 1160px;
  background-color: #ffe17f;
  margin: 0 auto;
  padding: 45px 60px 0;
}

.main-logo-link {
  position: absolute;
  top: -20px;
}


/* Стили Промо-слайдера */

.slider-item {
  display: none;
}

.slider-item-active {
  display: block;
}

.product-characteristics-list {
  display: flex;
  flex-wrap: wrap;
}

.product-characteristics-item {
  display: grid;
  row-gap: 12px;
  margin-right: 20px;
}

.product-characteristics-item:last-child {
  margin-right: 0;
}

.category-products {
  max-width: 1160px;
  margin: 0 auto 70px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category-item {
  margin-right: 40px;
}

.category-item:last-child {
  margin-right: 0;
}

.category-link {
  display: block;
  width: 160px;
}

.category-image-wrapper {
  display: flex;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  margin-bottom: 32px;
}

.category-image {
  display: block;
  margin: auto;
}

/* Секция сервисы */

.services {
  position: relative;
  display: flex;
  width: 1440px;
  margin: 0 auto 142px;
  padding: 0 140px;
}

.services-items {
  padding-top: 64px;
  margin-right: 116px;
}

.services::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 102px;
  left: 0;
  display: block;
  width: 1440px;
  min-height: 290px;
  background-color: #f0f0f0;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-description {
  padding: 72.5px 63px 72.5px 0;
}

.services-description-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-description-item {
  display: none;
}

.services-description-item-active {
  display: block;
}

.service-title {
  max-width: 452px;
  padding: 0;
  margin: 0 0 34px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.service-subtitle {
  max-width: 452px;
  padding: 0;
  margin: 0;
}

/* Секция доставка */

/* Стили Футера */

.page-footer {
  background-color: #444444;
  color: #ffffff;
  padding: 62px 140px 61px;
  align-items: center;
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
}
