@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1440px;
  color: #444444;
  background-color: #ffffff;
  padding: 40px 0 0;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* Стили Хедера */

.page-header {
  position: relative;
  width: 1160px;
  background-color: #ffe17f;
  margin: 0 auto;
  padding: 45px 60px 0;
}

.main-logo-link {
  position: absolute;
  top: -20px;
}

.navigation-user-wrapper {
  display: flex;
}

.compare-link {
  margin-left: auto;
}

.site-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-menu-list {
  display: none;
}

.catalog-menu:focus-within .catalog-menu-list {
  display: block;
}

/* Стили Футера */

.page-footer {
  position: relative;
  background-color: #444444;
  color: #ffffff;
  padding: 62px 140px 61px;
  align-items: start;
  margin-top: auto;
  display: grid;
  grid-template-columns: 239px 444px 239px;
  justify-items: start;
  column-gap: 119px;
  row-gap: 35px;
}

.logo-link-footer {
  grid-column: 1/-1;
}

.contacts-address {
  display: flex;
  grid-row: 2/4;
}

.page-footer::after {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  bottom: 77px;
  left: 140px;
}

.contacts-address-text {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.site-navigation-list-footer {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  margin: 0;
  padding: 0 0 27px;
  list-style-type: none;
}

.site-navigation-item-footer {
  margin-right: 35px;
}

.site-navigation-item-footer:nth-child(3n) {
  margin-right: 0;
}

.site-navigation-link-footer {
  color: #ffffff;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.contacts-phone-footer {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  justify-self: end;
}

.footer-social-list {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  margin-right: 15px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  color: #444444;
}

.html-academy-link {
  color: #ffc700;
  justify-self: end;
}

/* Стили главной страницы */

/* Стили Промо-слайдера */

.promo {
  max-width: 1160px;
  margin: 0 auto 70px;
  background-image: linear-gradient(180deg, #ffe17f 152px, #ffffff 114px);
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider-item {
  display: none;
  grid-template-columns: 560px 560px;
  column-gap: 40px;
}

.slider-item-active {
  display: grid;
}

.slider-wrapper {
  position: relative;
}

.slider-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.promo-slider-image {
  display: block;
}

.slider-description-wrapper {
  position: relative;
  padding-top: 121px;
}

.slider-title {
  margin: 0 0 29px;
  position: relative;
  z-index: 1;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.slider-subtitle {
  margin: 0;
}

.product-number {
  position: absolute;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  top: 77px;
  right: 49px;
  z-index: 0;
}

.product-characteristics-list {
  display: flex;
  flex-wrap: wrap;
}

.product-characteristics-item {
  display: grid;
  row-gap: 12px;
  margin-right: 20px;
}

.product-characteristics-item:last-child {
  margin-right: 0;
}

.category-products {
  max-width: 1160px;
  margin: 0 auto 70px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category-item {
  margin-right: 40px;
}

.category-item:last-child {
  margin-right: 0;
}

.category-link {
  display: block;
  width: 160px;
}

.category-image-wrapper {
  display: flex;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  margin-bottom: 32px;
}

.category-image {
  display: block;
  margin: auto;
}

/* Секция доставка */

/* Секция сервисы */

.services {
  position: relative;
  display: flex;
  width: 1440px;
  margin: 0 auto 142px;
  padding: 0 140px;
}

.services-items {
  padding-top: 64px;
  margin-right: 116px;
}

.services::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 102px;
  left: 0;
  display: block;
  width: 1440px;
  min-height: 290px;
  background-color: #f0f0f0;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-description {
  padding: 72.5px 63px 72.5px 0;
}

.services-description-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-description-item {
  display: none;
}

.services-description-item-active {
  display: block;
}

.service-title {
  max-width: 452px;
  padding: 0;
  margin: 0 0 34px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.service-subtitle {
  max-width: 452px;
  padding: 0;
  margin: 0;
}

/* Секции О нас, Контакты */

.columns-wrapper {
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 70px;
}

.newsletter-form {
  width: 810px;
  margin: 0 188px 0 0;
}

/* Секция рассылки */

.newsletter {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  padding: 74px 133px 56px 141px;
}

.newsletter-title {
  max-width: 348px;
  color: #000000;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin: 0 252px 144px 0;
}

.newsletter-subtitle {
  max-width: 560px;
  margin: 0 0 144px 0;
}

/* Стили страницы каталога */

.page-header-catalog {
  padding-bottom: 38px;
  margin-bottom: 35px;
}

.title-wrapper {
  max-width: 1080px;
  margin: 0 auto 35px;
}

.catalog-title {
  color: #000000;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin: 0 0 16px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 36px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  pointer-events: none;
}

/* Стили секций фильтрации и сортировки */

.catalog-content-container {
  width: inherit;
  background-color: #f0f0f0;
}

.catalog-content-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 320px 840px;
}

.filters {
  padding: 25px 60px 0;
}
